@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 239 50% 100%;
    --foreground: 239 55% 3%;
    --muted: 239 18% 94%;
    --muted-foreground: 239 10% 37%;
    --popover: 239 50% 100%;
    --popover-foreground: 239 55% 3%;
    --card: 0 0% 99%;
    --card-foreground: 239 55% 2%;
    --border: 239 13% 91%;
    --input: 239 13% 91%;
    --primary: 239 71% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 239 3% 83%;
    --secondary-foreground: 239 3% 23%;
    --accent: 239 3% 83%;
    --accent-foreground: 239 3% 23%;
    --destructive: 2 81% 35%;
    --destructive-foreground: 2 81% 95%;
    --ring: 239 71% 60%;
    --chart-1: 239 71% 60%;
    --chart-2: 239 3% 83%;
    --chart-3: 239 3% 83%;
    --chart-4: 239 3% 86%;
    --chart-5: 239 74% 60%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 239 41% 0%;
    --foreground: 239 32% 100%;
    --muted: 239 18% 6%;
    --muted-foreground: 239 10% 63%;
    --popover: 239 41% 0%;
    --popover-foreground: 239 32% 100%;
    --card: 0 0% 1%;
    --card-foreground: 0 0% 100%;
    --border: 239 13% 15%;
    --input: 239 13% 15%;
    --primary: 239 71% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 239 18% 18%;
    --secondary-foreground: 239 18% 78%;
    --accent: 239 18% 18%;
    --accent-foreground: 239 18% 78%;
    --destructive: 2 81% 51%;
    --destructive-foreground: 0 0% 100%;
    --ring: 239 71% 60%;
    --chart-1: 239 71% 60%;
    --chart-2: 239 18% 18%;
    --chart-3: 239 18% 18%;
    --chart-4: 239 18% 21%;
    --chart-5: 239 74% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
